@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>




<!--<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Contact Us</li>
            </ul>
        </div>
    </div>
</div>-->
<!-- ######## Page  Title End ####### -->

<div style="margin-top:0px;" class="row no-margin">

    <iframe style="width:100%" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d249759.19784092825!2d79.10145254589841!3d12.009924873581818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1448883859107" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


</div>

<div class="row contact-rooo no-margin">
    <div class="container">
        <div class="row">


            <div style="padding:20px" class="col-sm-6">
                <h2 style="font-size:18px">
                    ĐỂ LẠI THÔNG TIN
                    CHÚNG TÔI SẼ LIÊN HỆ VỚI BẠN
                </h2>
                <div class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Nhập họ tên:</label></div>
                    <div class="col-sm-8"><input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"></div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Email:</label></div>
                    <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Email Address" class="form-control input-sm"></div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Số điện thoại:</label></div>
                    <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Mobile Number" class="form-control input-sm"></div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Nhập lời nhắn:</label></div>
                    <div class="col-sm-8">
                        <textarea rows="5" placeholder="Enter Your Message" class="form-control input-sm"></textarea>
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                    <div class="col-sm-8">
                        <button class="btn btn-info btn-sm">Gửi</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <div style="margin:50px" class="serv">





                    <h2 style="margin-top:10px;">Địa chỉ liên lạc</h2>

                    TP HCM
                    473 CMTT, P. 13, Q. 10.
                    <br>

                    SĐT:1900 555 553<br>
                    Email:fangireking789@gmail.com<br>







                </div>


            </div>

        </div>
    </div>

</div>


<!-- ################# Footer Starts Here#######################--->
<!--<footer class="footer" style="background-color:gray;position:absolute;width:50%">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>About Us</h2>
                <p>
                    Smart Eye is a leading provider of information technology, consulting, and business process services. Our dedicated employees offer strategic insights, technological expertise and industry experience.
                </p>
                <p>We focus on technologies that promise to reduce costs, streamline processes and speed time-to-market, Backed by our strong quality processes and rich experience managing global... </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="portfolio" href="#/portfolio">Portfolio</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="products" href="#/products">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                    BlueDart <br>
                    Marthandam (K.K District) <br>
                    Tamil Nadu, IND <br>
                    Phone: +91 9159669599 <br>
                    Email: <a href="mailto:info@anybiz.com" class="">info@bluedart.in</a><br>
                    Web: <a href="smart-eye.html" class="">www.bluedart.in</a>
                </address>

            </div>
        </div>
    </div>


</footer>-->

<div class="copy">
    <div class="container">


        <span>
            <a><i class="fab fa-github"></i></a>
            <a><i class="fab fa-google-plus-g"></i></a>
            <a><i class="fab fa-pinterest-p"></i></a>
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="fab fa-facebook-f"></i></a>
        </span>
    </div>

</div>
