@{
    ViewBag.Title = "Home Page";
}

<section class="health-care">
    <div class="container">
        <div class="row" style="display: flex; flex-wrap: wrap; text-align: center; justify-content: space-between;">
            <div class="col-md-3 col-sm-6 vd">
                <img src="~/Content/Image/gallery_01.jpg" alt="">
                <h4>Premium Care</h4>
                <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                <button class="btn btn-info">Readmore <i class="fas fa-arrow-right"></i></button>
            </div>
            <div class="col-md-3 col-sm-6 vd">
                <img src="~/Content/Image/gallery_02.jpg" alt="">
                <h4>Powerful Medicine</h4>
                <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                <button class="btn btn-info">Readmore <i class="fas fa-arrow-right"></i></button>
            </div>
            <div class="col-md-3 col-sm-6 vd">
                <img src="~/Content/Image/gallery_03.jpg" alt="">
                <h4>Quality Equipments</h4>
                <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                <button class="btn btn-info">Readmore <i class="fas fa-arrow-right"></i></button>
            </div>
            <div class="col-md-3 col-sm-6 vd">
                <img src="~/Content/Image/gallery_04.jpg" alt="">
                <h4>Experiance Docors</h4>
                <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                <button class="btn btn-info">Readmore <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>


    </div>
</section>


<!-- ################# AppointmentStarts Here#######################--->
<!--<section style="background-image: url(/Content/Image/brackground_6.jpg); width:100%; height:100%;justify-content: space-evenly;">
    <div class="container" >
        <div class="title-another row" style="display:unset;font-style:italic;">
            <h4>Chúng tôi chuyên nghiệp</h4>
            <h2>Quản lý chuyên nghiệp</h2>
            <h3>Và dịch vụ chất lượng</h3>
            <div class="btn-ro">
                <button class="btn btn-default">Contact Us</button>
            </div>

        </div>
    </div>
</section>-->
<!-- ################# Our Team Starts Here#######################--->
<!--<section class="our-team">
    <div class="container">
        <div class="inner-title row">
            <h2>Our Team</h2>
            <p>Take a look at our Team</p>
        </div>
        <div class="row team-row">
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="assets/images/team/team-memb1.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="assets/images/team/team-memb2.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="assets/images/team/team-memb3.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="assets/images/team/team-memb4.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>-->
<!--  ************************* Blog Starts Here ************************** -->
<!--<div class="blog">
    <div class="row session-title">
        <h2>Latest Blog</h2>
        <p>
            We can talk for a long time about advantages of our Dental clinic before other medical treatment facilities.
            But you can read the following facts in order to make sure of all pluses of our clinic:
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="blog-singe no-margin row">
                    <div class="col-sm-5 blog-img-tab">
                        <img src="assets/images/blog/blog_01.jpg" alt="">
                    </div>
                    <div class="col-sm-7 blog-content-tab">
                        <h2>Why Primary treatment is important ?</h2>
                        <p><i class="fas fa-user"><small>Admin</small></i>  <i class="fas fa-eye"><small>(12)</small></i>  <i class="fas fa-comments"><small>(12)</small></i></p>
                        <p class="blog-desic">Lorem Ipsum, type lorem then press the shortcut. The default keyboard shortcut is the same keyboard shortcut is the </p>
                        <a href="blog_single.html">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="blog-singe no-margin row">
                    <div class="col-sm-5 blog-img-tab">
                        <img src="assets/images/blog/blog_02.jpg" alt="">
                    </div>
                    <div class="col-sm-7 blog-content-tab">
                        <h2>Why Primary treatment is important ?</h2>
                        <p><i class="fas fa-user"><small>Admin</small></i>  <i class="fas fa-eye"><small>(12)</small></i>  <i class="fas fa-comments"><small>(12)</small></i></p>
                        <p class="blog-desic">Lorem Ipsum, type lorem then press the shortcut. The default keyboard shortcut is the same keyboard shortcut is the </p>
                        <a href="blog_single.html">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
