@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--<link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/Navigation-Dark-Clean.css">
    <link rel="stylesheet" href="~/Content/assets/css/styles.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/masonry.pkgd.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>
  
</head>
@*<section class="health-care">
        <div class="container">
            <div class="row" style="display: flex; flex-wrap: wrap; text-align: center; justify-content: space-between;">
                <div class="col-md-3 col-sm-6 vd">
                    <img src="~/Content/Image/gallery_01.jpg" alt="">
                    <h4>Premium Care</h4>
                    <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                    <button class="btn btn-info">Readmore <i class="fas fa-arrow-right"></i></button>
                </div>
                <div class="col-md-3 col-sm-6 vd">
                    <img src="~/Content/Image/gallery_02.jpg" alt="">
                    <h4>Powerful Medicine</h4>
                    <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                    <button class="btn btn-info">Readmore <i class="fas fa-arrow-right"></i></button>
                </div>
                <div class="col-md-3 col-sm-6 vd">
                    <img src="~/Content/Image/gallery_03.jpg" alt="">
                    <h4>Quality Equipments</h4>
                    <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                    <button class="btn btn-info">Readmore <i class="fas fa-arrow-right"></i></button>
                </div>
                <div class="col-md-3 col-sm-6 vd">
                    <img src="~/Content/Image/gallery_04.jpg" alt="">
                    <h4>Experiance Docors</h4>
                    <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                    <button class="btn btn-info">Readmore <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>


        </div>
    </section>*@



<!-- ################# AppointmentStarts Here#######################--->
<!--<section style="background-image: url(/Content/Image/brackground_6.jpg); width:100%; height:100%;justify-content: space-evenly;">
    <div class="container" >
        <div class="title-another row" style="display:unset;font-style:italic;">
            <h4>Chúng tôi chuyên nghiệp</h4>
            <h2>Quản lý chuyên nghiệp</h2>
            <h3>Và dịch vụ chất lượng</h3>
            <div class="btn-ro">
                <button class="btn btn-default">Contact Us</button>
            </div>

        </div>
    </div>
</section>-->
<!-- ################# Our Team Starts Here#######################--->
<!--<section class="our-team">
    <div class="container">
        <div class="inner-title row">
            <h2>Our Team</h2>
            <p>Take a look at our Team</p>
        </div>
        <div class="row team-row">
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="assets/images/team/team-memb1.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="assets/images/team/team-memb2.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="assets/images/team/team-memb3.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="assets/images/team/team-memb4.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>-->
<!--  ************************* Blog Starts Here ************************** -->
<!--<div class="blog">
    <div class="row session-title">
        <h2>Latest Blog</h2>
        <p>
            We can talk for a long time about advantages of our Dental clinic before other medical treatment facilities.
            But you can read the following facts in order to make sure of all pluses of our clinic:
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="blog-singe no-margin row">
                    <div class="col-sm-5 blog-img-tab">
                        <img src="assets/images/blog/blog_01.jpg" alt="">
                    </div>
                    <div class="col-sm-7 blog-content-tab">
                        <h2>Why Primary treatment is important ?</h2>
                        <p><i class="fas fa-user"><small>Admin</small></i>  <i class="fas fa-eye"><small>(12)</small></i>  <i class="fas fa-comments"><small>(12)</small></i></p>
                        <p class="blog-desic">Lorem Ipsum, type lorem then press the shortcut. The default keyboard shortcut is the same keyboard shortcut is the </p>
                        <a href="blog_single.html">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="blog-singe no-margin row">
                    <div class="col-sm-5 blog-img-tab">
                        <img src="assets/images/blog/blog_02.jpg" alt="">
                    </div>
                    <div class="col-sm-7 blog-content-tab">
                        <h2>Why Primary treatment is important ?</h2>
                        <p><i class="fas fa-user"><small>Admin</small></i>  <i class="fas fa-eye"><small>(12)</small></i>  <i class="fas fa-comments"><small>(12)</small></i></p>
                        <p class="blog-desic">Lorem Ipsum, type lorem then press the shortcut. The default keyboard shortcut is the same keyboard shortcut is the </p>
                        <a href="blog_single.html">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<section style="background-image: url(/img/hero.jpg);
        height: 60%;
        width: 90%;margin-left:5%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding-top: 100px;
        display:block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero__text">
                    <h2>Take the world's best quality Treadment</h2>
                    <a href="#" class="primary-btn normal-btn">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="consultation">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="consultation__form">
                    <div class="section-title">
                        <span>REQUEST FOR YOUR</span>
                        <h2>Consultation</h2>
                    </div>
                    <form action="#">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Email">
                        <div class="datepicker__item">
                            <input type="text" placeholder="Date" class="datepicker">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <select>
                            <option value="">Type of service</option>
                            <option value="">Advanced equipment</option>
                            <option value="">Qualified doctors</option>
                            <option value="">Certified services</option>
                            <option value="">Emergency care</option>
                        </select>
                        <button type="submit" class="site-btn">Book appoitment</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="consultation__text">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="consultation__text__item">
                                <div class="section-title">
                                    <span>Welcon to Aesthetic</span>
                                    <h2>Find Best Doctors With <b>AESTHETIC</b></h2>
                                </div>
                                <p>
                                    30 Years of experience in Cosmetic Surgery.Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div style="background-image: url(/img/consultation-video.jpg);
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    background-position: top center;
                                    height: 262px;
                                    display: -webkit-box;
                                    box-sizing: border-box;
                                    -webkit-box-align: center;
                                    align-items: center;
                                    -webkit-box-pack: center;
                                    justify-content: center;
                                ">
                                <a href="https://www.youtube.com/watch?v=PXsuI67s2AA" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="chooseus spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Why choose us?</span>
                    <h2>Offer for you</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="~/Content/img/icons/ci-1.png" alt="">
                    <h5>Advanced equipment</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="~/Content/img/icons/ci-2.png" alt="">
                    <h5>Qualified doctors</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="~/Content/img/icons/ci-3.png" alt="">
                    <h5>Certified services</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="~/Content/img/icons/ci-4.png" alt="">
                    <h5>Emergency care</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Chooseus Section End -->
<!-- Services Section Begin -->
<section style="background-image: url(/img/services-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        width:1200px;
        height:700px;
        display: block;
        padding-top: 100px;
        padding-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6">
                <div class="section-title">
                    <span>Our services</span>
                    <h2>Offer for you</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__btn">
                    <a href="#" class="primary-btn">Contact us</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <span class="flaticon-044-aesthetic"></span>
                    </div>
                    <div class="services__item__text">
                        <h5>Body procedures</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <span class="flaticon-027-beauty"></span>
                    </div>
                    <div class="services__item__text">
                        <h5>Facial Procedures</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <span class="flaticon-031-anatomy"></span>
                    </div>
                    <div class="services__item__text">
                        <h5>Breast procedures</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <span class="flaticon-008-abdominoplasty"></span>
                    </div>
                    <div class="services__item__text">
                        <h5>Skin care & Beauty</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Our Team</span>
                    <h2>Our Expert Doctors</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/img/team/team-1.jpg" alt="">
                    <h5>Caroline Grant</h5>
                    <span>Plastic surgeon</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/img/team/team-2.jpg" alt="">
                    <h5>Dr. Maria Angel</h5>
                    <span>Plastic surgeon</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="~/Content/img/team/team-3.jpg" alt="">
                    <h5>Nathan Mullins</h5>
                    <span>Plastic surgeon</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Gallery Begin -->
<!-- Gallery End -->
<!-- Latest News Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6">
                <div class="section-title">
                    <span>Our News</span>
                    <h2>Skin care tips</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="latest__btn">
                    <a href="#" class="primary-btn">View all news</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="latest__item">
                    <h5><a href="#">Here’s how you can get a natural glow this party season</a></h5>
                    <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    <ul>
                        <li><img src="~/Content/img/blog/blog-author.jpg" alt=""> John Doe</li>
                        <li>Dec 06, 2019</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="latest__item">
                    <h5><a href="#">Get better skin with these top 10 tips for skin care</a></h5>
                    <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    <ul>
                        <li><img src="~/Content/img/blog/blog-author.jpg" alt=""> John Doe</li>
                        <li>Dec 06, 2019</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="latest__item">
                    <h5><a href="#">8 Ways to Save Your Skin if You Exercise Outside This Winter</a></h5>
                    <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    <ul>
                        <li><img src="~/Content/img/blog/blog-author.jpg" alt=""> John Doe</li>
                        <li>Dec 06, 2019</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
