@model QuanLyPhongKham3.Models.MedicineType

@{
    ViewBag.Title = "Details";
}

<h2>Thông tin loại thuốc</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Tên loại thuốc")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay lại danh sách các loại thuốc", "Index")
</p>
